:root {
    /* colores */
    --first-text: #000;
    --primary: #ecf019;
    --gray: #5c5c5c;
    --dark-bg: #181818;
    --secondary-bg: #1e1e1e;
    --white: #FFF;
    --light-text: #FFF;
    /* fuentes */
    --font: "Poppins", san-serif;
    --light: 400;
    --medium: 500;
    --bold: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
      background: var(--dark-bg);
}

a {
    color: var(--primary);
}
/* Header */
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
    background: var(--dark-bg);
    position: fixed;
    width: 100%;
      z-index: 2;
}
/* Navbar/menu */
.logo {
    width: 250px;
}

.navbar ul {
        background: var(--secondary-bg);
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transform: translateX(200%);
        transition: all 0.4s ease;
    }

#toggle-menu {
    display: none;
}
.navbar-link {
    text-decoration: none;
    color: var(--primary);
    font-weight: 300;
}
.bars-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
   
}
.bars-menu span {
    height: 2px;
    width: 30px;
    background: var(--primary);
     transition: transform 0.3s;
}
  #toggle-menu:checked ~ .navbar-list {
        display: flex;
        transform: translateX(0);
    }
    #toggle-menu:checked ~ .bars-menu span:nth-child(1) {
        position: absolute;
        top: 0;
        transform: rotate(135deg);


    }
     #toggle-menu:checked ~ .bars-menu span:nth-child(2) {
        opacity: 0;

    }
     #toggle-menu:checked ~ .bars-menu span:nth-child(3) {
         position: absolute;
        top: 0;
        transform: rotate(225deg);

    }

@media (min-width: 940px) {
    /* Header */
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
    background: var(--dark-bg);
    position: fixed;
    width: 100%;
}
.navbar {
    display: flex;
}
.navbar ul {
    display: flex;
    background:var(--dark-bg); ;
    gap: 20px;
    width: 80%;
    flex-direction: row;
    transform: translateX(0);
    position: static;
    height: 80px;
}
.bars-menu {
    display: none;
    
   
}


}