  @import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Lacquer&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
:root {
    /* colores */
    --first-text: #000;
    --primary: rgba(255, 231, 57);
    --gray: #5c5c5c;
    --dark-bg: #181818;
    --secondary-bg: #1e1e1e;
    --white: #FFF;
    --light-text: #FFF;
    /* fuentes */
    --font: Lacquer;;
    --light: 400;
    --medium: 500;
    --bold: 700;
    --font2: Vend Sands;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
      
      /* background: var(--secondary-bg); */
      font-family: var(--font);
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh; 
      gap: 2rem;
      width: 100%;
      background: url(./assets/fondobody.jpg) center/cover;
     
      
}


a {
    color: var(--primary);
}
/* Header */
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0 8px 50px rgba(3, 3, 2, 0.849);
    background: url(./assets/fondoheader.jpg);
    position: fixed;
    width: 100%;
}
.logo {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
     -webkit-filter: drop-shadow(0px 0px 10px #dddf3b);
    filter: drop-shadow(0px 0px 10px #dddf3b);
    
}
.logo:hover {
  -webkit-filter: drop-shadow(0px 0px 10px #dddf3b);
    filter: drop-shadow(0px 0px 10px #dddf3b);
}
/* Navbar mobile */
.navbar ul {
    display: flex;
    flex-direction: column;
    background: url(./assets/fondoheader.jpg);
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    top: 100px;
    left: 0;
    align-items: center;
    justify-content: center;
    gap: 80px;
    transform: translateX(200%);
    transition: all 0.4s ease;
    font-size: 2rem;
   

}
#toggle-menu {
    display: none;
}
.navbar-link {
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
     /* background-color: rgba(0, 0, 0, 0.1); */
     padding: 0.5rem;

    
}
.navbar-link:hover {
    cursor: pointer;
   
}
.bars-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
     background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
   
}
.bars-menu span {
    height: 2px;
    width: 30px;
    background: var(--primary);
    transition: transform 0.3s;
}
#toggle-menu:checked ~ .navbar-list {
    display: flex;
    transform: translateX(0);
}
#toggle-menu:checked ~ .bars-menu span:nth-child(1) {
    position: absolute;
    top: 0;
    transform: rotate(135deg);


}
#toggle-menu:checked ~ .bars-menu span:nth-child(2) {
    opacity: 0;

}
#toggle-menu:checked ~ .bars-menu span:nth-child(3) {
    position: absolute;
    top: 0;
    transform: rotate(225deg);

}
/* ----------------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100vh;
    margin-top: 100px; 
}
/* Hero section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    /* border: 1px solid #131415; */
    width: 100%;
    height: 400px;
    border-radius: 0.3rem;
    /* box-shadow: 0 8px 24px rgba(0,0,0,0.2); */
    color: var(--primary);
    gap: 10px;
    font-family: var(--font1);

}
.hero-img {
    width: 90vw;
    height: 250px;
    background: url(./assets/hero/01-123.jpg) center/cover;
    border-radius: 0.3rem;
}
.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}
.hero-info-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.9rem;
    gap: 10px;
    
    width: 80vw;
     
}
.info-h2 {
    color: var(--primary);
   
}

.tittle {
    color: var(--primary);
    display: none;
}
/* Sectioc cta */
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
}
.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
.cta-info  {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primary);
}
.cta-button {
    box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:var(--primary);
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:var(--font);
	font-size:15px;
	
	padding:12px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.cta-button a {
    color: #000;
}
/* Section galeria */
.container-galeria {
    display: grid;
    /* grid-template-columns: 350px 300px 150px 150px; */
    grid-auto-rows: 1fr;
    gap: 10px;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    justify-content: center;
}

.item {
    border-radius: 1rem;
   
}

.item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
    background: url(./assets/01-102.jpg) no-repeat center/cover;
    
}
.item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    background: url(./assets/01-112.jpg) no-repeat center/cover;
  
}
.item:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
    background: url(./assets/01-118.jpg) no-repeat center/cover;
 
}
.item:nth-child(4) {
    grid-column: 4/5;
    grid-row: 1/2;
    background: url(./assets/01-52.jpg) no-repeat center/cover;
}
.item:nth-child(5) {
    grid-column: 1/2;
    grid-row: 3/4;
    background: url(./assets/01-86.jpg) no-repeat center/cover;
    
}
.item:nth-child(6) {
    grid-column: 2/3;
    grid-row: 2/4;
    background: url(./assets/01-54.jpg) no-repeat center/cover;
}
.item:nth-child(7) {
    grid-column: 3/5;
    grid-row: 2/3;
    background: url(./assets/01-78.jpg) no-repeat center/cover;
}
.item:nth-child(8) {
    grid-column: 3/5;
    grid-row: 3/4;
    background: url(./assets/01-88.jpg) no-repeat center/cover;
     
}

.container-galeria {
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(2, 1fr);
    }
    .item:nth-child(even),
    .item:nth-child(odd) {
        grid-column: auto;
        grid-row: auto;
        

}
/* login */
.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: auto;
    color: var(--primary);
    margin-top: 200px;
    border: 1px solid var(--primary);
    padding: 2rem;
    border-radius: 1rem;
    gap: 0.8rem;
}
.container-login-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    
}
.container-login-inputs input {
    border: none;
    border-radius: 0.2rem;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    text-align: center;
}
.contact-info h2 {
font-family: var(--font);
}
/* Contacto */
.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-family: var(--font2);
    margin-top: 150px;
    width: 80vw;
    gap: 1rem;
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
/* Footer */
footer {
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* section about */
.about-img {
    width: 330px;
    border-radius: 0.5rem;
}
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 80vw;
    gap: 2rem;
}
.about-container p {
    text-align: center;
    font-size: 1rem;
    color: var(--primary);
}

/* Version desktop */
@media (min-width: 940px) {
header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
    background: url(./assets/fondoheader.jpg);
    /* position: fixed; */
    width: 100%;
}
.logo {
    width: 350px;
}
/* Navbar desktop */
.navbar {
    display: flex;
}
.bars-menu {
    display: none;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    background: transparent;
    width: 100%;
    height: 80px;
    position: static;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    transform: translateX(0);
    transition: all ease;
    font-size: 1rem;
    padding: 1rem;

}
.navbar-link {
    text-decoration: none;
    color: var(--primary);
    font-weight: 300;
}
/* ----------------------------------------------- */
main {
    margin-top: 5rem;
    
}
/* hero section */
.hero {
    margin-top: 6rem;
}
.hero-img {
    width: 80vw;
    height: 300px;
    background: url(./assets/hero/01-123.jpg) center/cover;
    border-radius: 0.3rem;
}
.hero-info-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.6rem;
    gap: 10px;
    
    width: 80vw;
     
}
/* section galeria */
.container-galeria {
    display: grid;
    grid-template-columns: 350px 300px 150px 150px;grid-auto-rows: 1fr;
    gap: 10px;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    justify-content: center;
}

}
/* section galeria */
@media (min-width: 481px) and (max-width: 992px) {
    .container-galeria {

        grid-template-columns: repeat(2, 1fr);
    }
    .item:nth-child(even),
    .item:nth-child(odd) {
        grid-column: auto;
        grid-row: auto;

    }
}